<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href='{% static "mystyles.css" %}' />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title></title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">User Authentication & Authorization</a>
        </div>
        <ul class="nav navbar-nav">

          <!--Check if the user is autheticated or not-->
          {% if user.is_authenticated %}
            <li><a href="{% url 'userhome' %}">User Home</a></li>
            <li><a href="{% url 'userlogout' %}">Logout</a></li>
          {% else %}

            <li><a href="{% url 'registration' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}


        </ul>
      </div>
    </nav>
    <div class="container">
      {% block body %}
      {% endblock %}
    </div>
  </body>

</html>
