<!DOCTYPE html>
{% extends "job_scraping/base.html" %}
{% block body %}
<div class="container">
    {% if registered %}
      <h2>Thank you for Registering!</h2>
    {% else %}
      <form method="post" enctype="multipart/form-data">

        {% csrf_token %}
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>

      <label for="Username"><b>Username</b></label>
      {{user_form.username}}
        <hr>

        <label for="Password"><b>Password</b></label>
        {{user_form.password}}

          <hr>


      <label for="age"><b>Age</b></label>
      <input type="text" placeholder="Enter Age" name="Age" required>
      <hr>

      <label for="location"><b>location</b></label>
      <input type="text" placeholder="Enter Location" name="Location" required>
      <hr>

      <label for="gender"><b>Gender</b></label>
      <select id="Gender" name="Gender">
          <option value="Female">Female</option>
        <option value="Male">Male</option>
        <option value="Others">Others</option>
      </select>      <hr>

      <label for="Job_Interests"><b>Job Interests</b></label>
      <textarea id="Job_Interests" name="Job_Interests" placeholder="Write something.." style="height:200px"></textarea>
      <hr>

      <label for="Qualifications"><b>Qualifications</b></label>
      <textarea id="Qualifications" name="Qualifications" placeholder="Write something.." style="height:200px"></textarea>
      <hr>

          <button type="submit" name="button">Register</button>
        </form>
      </div>
    {% endif %}
{% endblock %}
